<footer class="footer container py-20 bg-black">

  <div class="footer__logo">
    <a href="{{siteUrl }}" class="flex focus:outline-none focus:shadow-outline">
      <span title="{{ siteName }}">{{ svg('@webroot/assets/images/svg/brickibility-logo.svg') }}</span>
    </a>
  </div>

  <div class="footer__content mb-[2.6rem] mt-40 lg:mt-56 lg:flex lg:flex-row lg:justify-between">
    <div class="footer__contact__content mb-[3.69rem] lg:mb-0 md:flex md:flex-row md:gap-28">
      <div class="footer__contact__address mb-20 md:mb-0">
        <h4 class="mb-20">Head office - Brick Division</h4>
        <p class="text-grey-300 w-[12.3rem]">Brickability Bridgend, Bridgend Industrial Estate, South Road, Bridgend, 
          Mid Glamorgan, CF31 3XG</p>
      </div>
      <div class="footer__contact__links flex flex-col md:justify-end">
        <a class="text-grey-300" href="">01656645222</a>
        <a class="text-grey-300" href="mailto:sales@brickability.co.uk">sales@brickability.co.uk</a>
      </div>
    </div>

    <div class="footer__nav mb-40 lg:mb-0">
      <h4 class="mb-20">Quick Links</h4>
      <ul> 
        <li class=""><a href="">About us</a></li>
        <li><a href="">Resources</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Contact us</a></li>
        <li><a href="">News</a></li>
      </ul>
    </div>

    <div class="footer__social lg:flex lg:items-end">
      <ul class="flex gap-5 lg:flex-col">
        <li><a href="">{{ svg('@webroot/assets/images/svg/linkedin.svg') }}</a></li>
        <li><a href="">{{ svg('@webroot/assets/images/svg/facebook.svg') }}</a></li>
        <li><a href="">{{ svg('@webroot/assets/images/svg/instagram.svg') }}</a></li>
        <li><a href="">{{ svg('@webroot/assets/images/svg/pinterest.svg') }}</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__copyright flex flex-col gap-[2rem] lg:flex-row lg:justify-between">
    <ul class="flex flex-col gap-[2rem] lg:flex-row">
      <li><a href="">Terms & Conditions</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Cookie Policy</a></li>
      <li><a href="">Environmental Policy</a></li>
      <li><a href="">Modern Slavery Statement</a></li>
    </ul>
    <p class="font-text text-xs text-grey-400">Copyright © 2023 - Brickability Limited | All Rights Reserved</p>  
  </div>

</footer> 
