<div class="hero h-screen overflow-hidden relative bg-black">
  {# hero content #}
    <picture>
      <source media="(min-width:650px)" srcset="{{ url('/assets/images/hero.png') }}">
      <source media="(min-width:465px)" srcset="{{ url('/assets/images/hero-mobile.png') }}">
      <img src="{{ url('/assets/images/hero-mobile.png') }}" class="absolute w-full h-full object-cover" alt="Hero Image">
    </picture>
    {# hero content #}
    <div class="container hero__container">
      <h1 class="hero__container__title text-white text-5xl font-text font-bold md:text-7xl lg:text-9xl">{{ block.heroTitle ?? entry.title }}</h1>
        {% if block.copy|length %}
          <div class="hero__container__body text-grey-300 text-sm md:text-lg">
            {{ block.copy }}
          </div><!-- /.prose -->
        {% endif %}
        <div class="hero__input w-full flex gap-[1.25rem]">
          <select name="select after:" id="select"> 
            <option value="">I'm looking for...</option>
            <option value="Option one">Option one</option>
            <option value="Option two">Option two</option>
            <option value="Option thre">Option three</option>
            <option value="Option four">Option four</option> 
          </select>
          <a href="" class="hero__input__button button button-primary"><span>{{svg('@webroot/assets/images/svg/search.svg')}}</span><span class="hidden lg:block">Search</span></a>
        </div>
    </div><!-- /.container --> 
  {# end hero content #}
</div>
